body{
    background-color:#1e1613; 
    font-family:roboto;
}
h1{
    color: #d08821;
    font-family: rye; 
}

h2{
    color: #d4d1cb; 
}

li{
    color:#8b9ea2; 
    font-family:rye; 
}

p{
    color:#Ab372E; 
    font-family: rye; 
}