body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
  }
  
  header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 4;
  }
  
  .left-sidebar {
    background: lightblue;
    grid-column: 1 / 2;
  }
  <!-- this content was forked from Google Web Developers 10 Modern Layouts https://youtu.be/qm0IfG1GyZU?t=465-->
<header>
  <h1 contenteditable>Header.com</h1>
</header>
<nav>Main Navigation</nav>
<main contenteditable>Main Content Area</main>
<aside contenteditable>Right Sidebar</aside>
<footer contenteditable>Footer Content — Header.com</footer>
  main {
    background: coral;
    grid-column: 2 / 3;
  }
  
  .right-sidebar {
    background: yellow;
    grid-column: 3 / 4;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  .left-sidebar,
  .right-sidebar {
    padding: 1rem;
  }
  