*{
    margin:0;
    padding: 0;
    box-sizing:0;
}
body{
    background-color:navy; 
    color:yellow; 
    font-family: outfit; 
    font-size: 30px; 
}
li{
    color:light yellow;
}
nav{
    background-color: orange; 
    border: 1px solid; 
}
h2{
    color: yellow;
}
nav ul{
    list-style-type: none; 
}

nav a{
    display:block; 
    color: navy; 
    text-align: center; 
    padding:.5rem;
    text-decoration: none;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.4); 
    border: solid white;
    color: white;
}

nav .active{
    background-color: rgba(0,0,0,.6);
    
}

.card{
    background-color:orange;
    text-align: center;
    border: 19px white; 
    border-radius: 150px;
    padding: 50px; 
    overflow:hidden;
    margin: 1rem, 0;  
}

.card h2{
    color:navy; 
}

.card h3{
    color:black;
    
}
footer{
    text-align:center; 
}

h1{
    text-align:center; 
}