*{
    margin:0;
    padding: 0;
}
body{
    background-color: navy; 
    color:yellow; 
    font-family: outfit; 
    font-size: 30px; 
}

li{
    color: navy;
    text-align: left; 
}
nav{
    background-color: orange; 
    border: 1px solid; 
}

#myButton {
font-size: 20px;
background-color: orange;
border:none;
cursor: pointer; 
text-align: right; 
padding: 10px 50px;  
}

h2{
    color: navy;
}
nav ul{
    list-style-type: none; 
}
.image1{
    margin-left:300px;
}

nav a{
    display:block; 
    color: navy; 
    text-align: center; 
    padding:.5rem;
    text-decoration: none;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.4); 
    border: solid white;
    color: white;
}

nav .active{
    background-color: rgba(0,0,0,.6);
    
}


    
    .herolabel{
    color:black;
    position: absolute;
    top: 1750px;
    left: 30px; 
    background: radial-gradient(#fff, #4d5b97);
    border: 3px solid rgba(0,0,0,.75);
    padding: 1.5rem; 
    box-shadow:0 0 3rem black; 
    opacity: 0.9;
}

herolabel p{
    margin:0; 
    padding:.25rem;
    font-weight: 700; 
    font-size: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card{
    background-color:orange;
    text-align: center;
    border: 19px white; 
    border-radius: 50px;
    padding: 30px; 
    overflow:hidden;
    margin: 5%;  
    width: 80%;
}

.card h2{
    color:navy; 
}

.card h3{
    color:black;
    
}


.card p{
    color:navy;
}
footer{
    text-align:center; 
}

h1{
    text-align:center; 
}



